In [1]:
import numpy as np
import csv
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
fname = '/home/hunter/hunter_sync/space/undergrad_work/hunterh/notes/gps_tests/test_2_20min/20210806_042435.csv'

In [3]:
df = pd.read_csv (r'/home/hunter/hunter_sync/space/undergrad_work/hunterh/notes/gps_tests/test_2_20min/20210806_042435.csv')   #read the csv file (put 'r' before the path string to address any special characters in the path, such as '\'). Don't forget to put the file name at the end of the path + ".csv"
print (df)

        Longitude   Latitude  Speed      Distance      Time     Acc X  \
0     -119.815202  39.540823   0.48  1.252403e+07  04-24-36 -0.003317
1     -119.815166  39.540811   0.83  0.000000e+00  04-24-36 -0.002034
2     -119.815166  39.540811   0.83  0.000000e+00  04-24-36 -0.002034
3     -119.815166  39.540811   0.83  0.000000e+00  04-24-36 -0.002034
4     -119.815166  39.540811   0.83  0.000000e+00  04-24-36 -0.001190
...           ...        ...    ...           ...       ...       ...
17946 -119.815126  39.541035   0.33  2.513257e+01  04-44-48  0.001355
17947 -119.815126  39.541035   0.33  2.513257e+01  04-44-48  0.001355
17948 -119.815126  39.541035   0.33  2.513257e+01  04-44-48  0.001355
17949 -119.815126  39.541035   0.33  2.513257e+01  04-44-48  0.001355
17950 -119.815126  39.541035   0.33  2.513257e+01  04-44-48  0.001355

          Acc Y     Acc Z  Heading    gyro_x    gyro_y    gyro_z
0     -0.000768  0.001073    248.0 -0.000076 -0.000504  0.000504
1      0.001791 -0.002097    248.0 -0.000137 -0.000610 -0.000137
2      0.001791 -0.002097    248.0 -0.000137 -0.000610 -0.000137
3      0.001791 -0.002097    248.0 -0.000137 -0.000610 -0.000137
4     -0.000452  0.001890    248.0 -0.000137 -0.000397 -0.000336
...         ...       ...      ...       ...       ...       ...
17946 -0.001749 -0.002991    247.0 -0.000031  0.000092  0.000259
17947 -0.001749 -0.002991    247.0 -0.000031  0.000092  0.000259
17948 -0.001749 -0.002991    247.0 -0.000031  0.000092  0.000259
17949 -0.001749 -0.002991    247.0 -0.000031  0.000092  0.000259
17950 -0.001749 -0.002991    247.0 -0.000031  0.000092  0.000259

[17951 rows x 12 columns]

In [4]:
df["Time"]

0        04-24-36
1        04-24-36
2        04-24-36
3        04-24-36
4        04-24-36
           ...
17946    04-44-48
17947    04-44-48
17948    04-44-48
17949    04-44-48
17950    04-44-48
Name: Time, Length: 17951, dtype: object

In [5]:
df.columns

Index(['Longitude', 'Latitude', 'Speed', 'Distance', 'Time', 'Acc X', 'Acc Y',
       'Acc Z', 'Heading', 'gyro_x', 'gyro_y', 'gyro_z'],
      dtype='object')

In [6]:
type(df["Time"].head(45).to_numpy())

numpy.ndarray

In [7]:
data = pd.read_csv (r'/home/hunter/hunter_sync/space/undergrad_work/hunterh/notes/gps_tests/test_2_20min/20210806_042435.csv')   
df_all = pd.DataFrame(data, columns= ['Longitude',
                                  'Latitude',
                                  'Speed',
                                  'Distance',
                                  'Time',
                                  'Acc X',
                                  'Acc Y',
                                  'Acc Z',
                                  'Heading',
                                 'gyro_x',
                                 'gyro_y',
                                 'gyro_z'])
print (df_all)

        Longitude   Latitude  Speed      Distance      Time     Acc X  \
0     -119.815202  39.540823   0.48  1.252403e+07  04-24-36 -0.003317
1     -119.815166  39.540811   0.83  0.000000e+00  04-24-36 -0.002034
2     -119.815166  39.540811   0.83  0.000000e+00  04-24-36 -0.002034
3     -119.815166  39.540811   0.83  0.000000e+00  04-24-36 -0.002034
4     -119.815166  39.540811   0.83  0.000000e+00  04-24-36 -0.001190
...           ...        ...    ...           ...       ...       ...
17946 -119.815126  39.541035   0.33  2.513257e+01  04-44-48  0.001355
17947 -119.815126  39.541035   0.33  2.513257e+01  04-44-48  0.001355
17948 -119.815126  39.541035   0.33  2.513257e+01  04-44-48  0.001355
17949 -119.815126  39.541035   0.33  2.513257e+01  04-44-48  0.001355
17950 -119.815126  39.541035   0.33  2.513257e+01  04-44-48  0.001355

          Acc Y     Acc Z  Heading    gyro_x    gyro_y    gyro_z
0     -0.000768  0.001073    248.0 -0.000076 -0.000504  0.000504
1      0.001791 -0.002097    248.0 -0.000137 -0.000610 -0.000137
2      0.001791 -0.002097    248.0 -0.000137 -0.000610 -0.000137
3      0.001791 -0.002097    248.0 -0.000137 -0.000610 -0.000137
4     -0.000452  0.001890    248.0 -0.000137 -0.000397 -0.000336
...         ...       ...      ...       ...       ...       ...
17946 -0.001749 -0.002991    247.0 -0.000031  0.000092  0.000259
17947 -0.001749 -0.002991    247.0 -0.000031  0.000092  0.000259
17948 -0.001749 -0.002991    247.0 -0.000031  0.000092  0.000259
17949 -0.001749 -0.002991    247.0 -0.000031  0.000092  0.000259
17950 -0.001749 -0.002991    247.0 -0.000031  0.000092  0.000259

[17951 rows x 12 columns]

In [8]:
df_time = pd.DataFrame(data, columns= ['Time'])
print (df_time)

           Time
0      04-24-36
1      04-24-36
2      04-24-36
3      04-24-36
4      04-24-36
...         ...
17946  04-44-48
17947  04-44-48
17948  04-44-48
17949  04-44-48
17950  04-44-48

[17951 rows x 1 columns]

In [9]:
timepoint = ["04-24-37"]
boolean_series = df.Time.isin(timepoint)
filtered_df = df[boolean_series]
filtered_df

,Longitude,Latitude,Speed,Distance,Time,Acc X,Acc Y,Acc Z,Heading,gyro_x,gyro_y,gyro_z
8,-119.815166,39.540811,0.83,0.000000,04-24-37,0.001022,0.000704,-0.001374,248.0,-0.000031,0.000290,-0.000290
9,-119.815166,39.540811,0.83,0.000000,04-24-37,-0.000920,-0.000566,0.003921,248.0,0.000137,0.000015,-0.000397
10,-119.815138,39.540798,0.48,2.818182,04-24-37,-0.000920,-0.000566,0.003921,248.0,0.000137,0.000015,-0.000397
11,-119.815138,39.540798,0.48,2.818182,04-24-37,-0.000920,-0.000566,0.003921,248.0,0.000137,0.000015,-0.000397
12,-119.815138,39.540798,0.48,2.818182,04-24-37,-0.000920,-0.000566,0.003921,248.0,0.000137,0.000015,-0.000397
13,-119.815138,39.540798,0.48,2.818182,04-24-37,0.000406,-0.001767,0.002766,248.0,0.000031,-0.000610,-0.000351
14,-119.815138,39.540798,0.48,2.818182,04-24-37,0.000406,-0.001767,0.002766,248.0,0.000031,-0.000610,-0.000351
15,-119.815138,39.540798,0.48,2.818182,04-24-37,0.000406,-0.001767,0.002766,248.0,0.000031,-0.000610,-0.000351
16,-119.815138,39.540798,0.48,2.818182,04-24-37,-0.004570,0.002711,0.001400,248.0,0.000397,-0.000397,0.000076
17,-119.815138,39.540798,0.48,2.818182,04-24-37,-0.004570,0.002711,0.001400,248.0,0.000397,-0.000397,0.000076
18,-119.815138,39.540798,0.48,2.818182,04-24-37,-0.004570,0.002711,0.001400,248.0,0.000397,-0.000397,0.000076
19,-119.815138,39.540798,0.48,2.818182,04-24-37,-0.001752,-0.003715,-0.003960,248.0,0.000137,0.000183,-0.000076
20,-119.815138,39.540798,0.48,2.818182,04-24-37,-0.001752,-0.003715,-0.003960,248.0,0.000137,0.000183,-0.000076
21,-119.815138,39.540798,0.48,2.818182,04-24-37,-0.001752,-0.003715,-0.003960,248.0,0.000137,0.000183,-0.000076
22,-119.815138,39.540798,0.48,2.818182,04-24-37,0.002109,0.000203,0.002190,248.0,-0.000031,-0.000671,-0.000183

In [10]:
df['Time'].value_counts()

04-43-26    15
04-25-05    15
04-33-27    15
04-26-58    15
04-38-34    15
            ..
04-37-12    14
04-36-04    14
04-33-28    14
04-44-48    12
04-24-36     8
Name: Time, Length: 1213, dtype: int64

In [11]:
df['Time'].describe()

count        17951
unique        1213
top       04-43-26
freq            15
Name: Time, dtype: object

In [12]:
counts_per_sec = 0
counts = []

for i in range(0, len(df['Time'])):
    if df['Time'][i] == '04-24-37':
        counts.append(df['Time'][i])
        counts_per_sec += 1

print("Counts per sec: ", counts_per_sec)

print("Counts: ", counts)

Counts per sec:  15
Counts:  ['04-24-37', '04-24-37', '04-24-37', '04-24-37', '04-24-37', '04-24-37', '04-24-37', '04-24-37', '04-24-37', '04-24-37', '04-24-37', '04-24-37', '04-24-37', '04-24-37', '04-24-37']